* {
  font-family: sans-serif;
}

header {
  background-color: #4b2373;
  color: white;
  padding: 15px 0;
}

body {
  background-color: rgb(248, 248, 248);
}

.header {
  font-weight: 100;
  display: inline;
}

label,
p {
  font-size: 0.9rem;
}

.entries-link {
  padding-left: 20px;
  color: white;
  text-decoration: none;
}

.image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  height: 300px;
  border-radius: 0.2rem;
}

input,
textarea {
  margin-top: 6px;
  margin-bottom: 15px;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border: solid;
  border-color: lightgray;
  border-radius: 0.2rem;
  border-width: 2px;
}

textarea {
  height: 8rem;
}

.save {
  background-color: #4b2373;
  color: white;
  padding: 5px 10px;
  border-radius: 0.2rem;
  border: none;
  display: block;
  float: right;
  margin-bottom: 15px;
}

.new {
  float: right;
  text-decoration: none;
  background-color: #4b2373;
  color: white;
  padding: 5px 10px;
  border-radius: 0.2rem;
  border: none;
}

input:focus,
textarea:focus {
  border-color: #4b2373;
  border-width: 2px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.entry-title {
  margin-top: 0;
  font-weight: 500;
  display: inline;
}

p {
  line-height: 1.2rem;
}

.entry {
  margin-bottom: 25px;
}

.inline {
  display: inline;
  font-weight: 500;
}

.entries-header {
  margin-top: 20px;
}

i {
  float: right;
}

.delete {
  color: red;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
}
